.bookings {
    display: flex;
    height: 100vh;
    width: 100%;
}

.bookings-sidebar {
    width: 250px;
    background-color: #2d2d2d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.home-menu {
    width: 100%;
}

.home-menu a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s;
}

.home-menu a:hover {
    background-color: #ffffff;
}

.home-menu a.active {
    background-color: #1d1d1d;
}

.logout-button {
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff4b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d43f3f;
}

.bookings-main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.booking-details {
    padding: 20px;
}

.booking-details h2 {
    margin-top: 0;
}

.legend {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 3px;
}

.fullcalendar-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; /* Ensure it works well with flexbox */
}

.fullcalendar {
    flex-grow: 1;
    width: 100%;
}
