.bookings {
    display: flex;
    height: 100vh;
}

.bookings-sidebar {
    width: 250px;
    background-color: #2d2d2d;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

.home-profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.home-profile h3 {
    margin: 10px 0 5px 0;
}

.home-menu {
    width: 100%;
}

.home-menu a {
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s;
}

.home-menu a:hover {
    background-color: #ffffff;
}

.home-menu a.active {
    background-color: #1d1d1d;
}

.logout-button {
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    background-color: #ff4b4b;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #d43f3f;
}

.bookings-main-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.booking-details {
    padding: 20px;
}

.booking-details h2 {
    margin-top: 0;
}
