body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-panel, .right-panel {
    padding: 20px;
}

.left-panel {
    background-color: #234a7c;
    color: #ffffff;
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.right-panel {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

.uni-biz {
    font-weight: bold;
}

.feature {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.feature img {
    margin-right: 10px;
}

.form {
    width: 100%;
}

.tab {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab button {
    background: none;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.tab button.active {
    background-color: #234a7c;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.name-field {
    flex: 1;
    margin-right: 0px;
}

.name-field:last-child {
    margin-left:0px;
}

form button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #234a7c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.wand{
    margin-right: 30px;
    margin-top: 20px;
}

.plant{
    margin-right: 30px;
    margin-top: 20px;
}

.star{
    margin-right: 30px;
    margin-top: 5px;
}

.chain{
    margin-right: 30px;
    margin-top: 20px;
}
