/* Main container */
.main-container {
    display: flex;
    transition: margin-left 0.3s ease-in-out;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #234a7c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.sidebar.open {
    left: 0;
}

.home-profile {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the items horizontally */
    margin-left: 10px;

}


.profile-pic {
    margin-right: 20px; /* Add some space between the image and the name */
}
.profile-pic img {
    width: 90px;
    height: 90px;
    border-radius: 20%;
}
.profile-name h3 {
    font-size: xx-large;
}

.home-menu{
    display: block;
    margin-top: 3%;

}

.home-menu a {
    margin-bottom: 10%;
    display:flex;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s;
    align-items: flex-end;

}

.home-menu a:hover {
    background-color: #1d1d1d;
}

.logout-button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    margin-left: 0; /* Default margin */
    transition: margin-left 0.3s ease-in-out;
}

.sidebar-open .content {
    margin-left: 250px; /* Margin when sidebar is open */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content {
        margin-left: 0; /* Reset margin for small screens */
    }
}
.link{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.dash{
    margin-right: 10px;
    margin-top: 5px;
}

.white-line{
    color: #e74c3c;
    size: 100cap;
    width: 230px;

}
