/* Main container */
.main-container {
    display: flex;
    transition: margin-left 0.3s ease-in-out;
    position: relative;
}

.main-container.sidebar-open {
    margin-left: 250px; /* Adjust the width of the sidebar */
}

/* Toggle Button */
.toggle-sidebar-button, .toggle-sidebar-button-open {
    position: fixed;
    top: 10px;
    z-index: 101;
    background-color: #234a7c;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 1.5em;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.toggle-sidebar-button {
    left: 220px; /* Adjust based on sidebar width */
}

.toggle-sidebar-button-open {
    left: 10px;
}

.toggle-sidebar-button:hover, .toggle-sidebar-button-open:hover {
    background-color: #1d1d1d;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #234a7c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: left 0.3s ease-in-out;
    z-index: 100;
}

.sidebar.open {
    left: 0;
}

.home-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.profile-pic {
    margin-right: 20px;
}

.profile-pic img {
    width: 90px;
    height: 90px;
    border-radius: 20%;
}

.profile-name h3 {
    font-size: xx-large;
}

.home-menu {
    display: block;
    margin-top: 3%;
}

.home-menu a {
    margin-bottom: 10%;
    display: flex;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.3s;
    align-items: flex-end;
}

.home-menu a:hover {
    background-color: #1d1d1d;
}

.logout-button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    transition: margin-left 0.3s ease-in-out;
    padding: 20px; /* Add padding for better content presentation */
}

@media (max-width: 768px) {
    .main-container.sidebar-open {
        margin-left: 0;
    }

    .sidebar {
        left: 0;
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .content {
        margin-left: 0;
    }

    .toggle-sidebar-button {
        left: 10px; /* Keep the button in place for smaller screens */
    }
}

.link {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.dash {
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 6px;
}

.white-line {
    border: 1px solid #ffffff;
    width: 100%;
}

.dashboard-link,
.favorites,
.house,
.book,
.notif {
    padding-top: 3px;
}

.notification-count {
    background-color: #e74c3c;
    border-radius: 50%;
    padding: 2px 6px;
    margin-left: 5px;
    font-size: 0.8em;
}

.link:hover {
    color: #234a7c;
}
